:host {
  position: relative;
}

.mat-nav-list a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mat-nav-list a:hover {
  background: #232834;
}

.mat-nav-list a.active {
  background: #23283447;
}

.profile-info {
  background: #1e2129;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid #2d323e;
}
.profile-info img {
  max-width: 100%;
}
