<mat-card>
    <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()" #bookForm1="ngForm" class="book-form">
        <mat-card-title>
            Select Form AutoComplete
        </mat-card-title>
        <mat-card-content fxLayout="row wrap"  fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field class="select-book">
               <input type="text" placeholder="Select a book" matInput formControlName="book" [matAutocomplete]="auto" (blur)="checkBookEmpty()">
               <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  >
                  <mat-option *ngFor="let book of filteredBooks$ | async" [value]="book">
                    {{ book.name }}
                  </mat-option>
               </mat-autocomplete>
               <mat-error *ngIf="book.hasError('required')">
                Book required.
              </mat-error>
            </mat-form-field>
        
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="button" (click)="setDefault()">Default Value</button>
            <button mat-raised-button type="button" (click)="resetForm()">Reset</button>
            <button mat-raised-button color="primary">Save</button>
            <br>
            <br>
            {{ bookForm.value | json}}
        </mat-card-actions>
    </form>
</mat-card>