<mat-card>
    <mat-card-header>
      <mat-card-title>File Form Array Reactive Form</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column center">
        <form [formGroup]="docForm" (ngSubmit)="onFormSubmit()">
            <b> Employees in Team :</b><br /><br />
            <label *ngIf="baseUrls?.errors?.required" class="error">
              Files are requied.
            </label>
            <label *ngIf="baseUrls?.errors?.maxlength" class="error">
              Max number of Employee can be 5 only.
            </label>
            <div formArrayName="baseUrls" fxLayout="column" fxLayoutGap="10px" >
              <div
                *ngFor="let baseUrl of baseUrls.controls; let i = index" fxLayout="row wrap"  fxFlex="1" fxLayoutAlign="space-between center">
                 
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" >
                    <input type="file"  #inputFile class="d-none" (change)="onSelectedFile($event,i)"/>
                    <button type="button" fxLayoutAlign="center center" mat-raised-button color="primary" (click)="pick(i)"> <mat-icon> attach_file</mat-icon> Attachment </button>
                    <mat-form-field class="example-form-field" >
                        <input type="text" matInput [formControlName]="i"/>
                        <mat-error *ngIf="baseUrl.touched && baseUrl.hasError('required')">Required</mat-error>
                        <mat-error *ngIf="baseUrl.hasError('pattern')">Invalid Url</mat-error>
                    </mat-form-field>
                </div>
                  

                  <div fxLayout="row" fxLayoutGap="5px">
                    <button type="button" mat-icon-button color="primary" (click)="add()" *ngIf="i==0 && baseUrls.length<5">
                      <mat-icon>add_circle_outline</mat-icon>
                      </button>
                      
                      <button type="button" mat-icon-button (click)="remove(i)" *ngIf="i>0">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                  </div>
                  
                
              </div>
            </div>
            
            <button type="submit" [disabled]="docForm.invalid"> Submit</button>
            {{ docForm.value | json  }}
        </form>
    </mat-card-content>
</mat-card>
