<!-- 
      <table class="compact-table full-width" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"> -->


<input name="search" type="text"  #searchInp />       
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource"   matSort (matSortChange)="sortData($event)">

  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let lesson">{{lesson.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let lesson">{{lesson.firstname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let lesson">{{lesson.lastname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let lesson">{{lesson.email}}</mat-cell>
  </ng-container>

<ng-container matColumnDef="reg_date">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Reg date</mat-header-cell>
  <mat-cell class="duration-cell"
            *matCellDef="let lesson">{{lesson.reg_date}}</mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns1" (click)="onRowClicked1(row)"></mat-row>

</mat-table>

<mat-paginator class="custom-paginator" [pageIndex]="0" (page)="onPageChange($event)" #paginator
[pageSize]="assignPageSize"
  [length]="dataCount" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>